<div *ngIf="!isTopic">
    <div class="row-content">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-12" *ngFor="let topic of topics">
                <div class="card card-border mt-10" (click)="navigate(topic?.display_type,topic?.id)">
                    <img *ngIf="topic?.image_url!=''" class="card-img-top" src="{{topic?.image_url}}"
                    alt="Card image cap">
                    <div class="card-body" [ngClass]="currentRoute=='news'?'card-text-bold fw-regular':'card-text-bold'">
                        <h5 class="card-title">{{topic.title}}</h5>
                        <p *ngIf="topic.publish_time" class="mb-5">
                          <small class="fw-extra-bold mb-5">Publish Date: </small>
                          <small>{{topic.publish_time | date }}</small>
                        </p>
                      <p class="card-text" [innerHTML]="topic.description | safehtml"></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div *ngIf="isTopic" class="p-10">

   <p *ngIf="topic.publish_time" class="mb-5 pull-left">
       <small class="fw-extra-bold mb-5">Publish Date: </small>
       <small>{{topic.publish_time | date }}</small>
   </p>

   <div class="mt-10 pull-center" *ngIf="topic.icon">
        <img src="{{topic?.icon}}" alt="{{topic?.product_name}}">
        <p class="mt-10 pull-center">{{topic?.product_name}}</p>
    </div>


<div *ngFor="let content of topic?.detail;let i=index">
    <div [ngSwitch]="content?.type">
        <div *ngSwitchCase="'description'" class="mt-10">
            <p [innerHTML]="content?.description | safehtml"></p>
        </div>

        <div *ngSwitchCase="'image'" class="row">
             <div *ngFor="let image of content.images;" class="col-md-4 col-sm-4 col-12 pull-center mt-10">
                <img src="{{image?.image_url}}" alt="{{image.title}}">
                <p class="mt-10 pull-center">{{image?.title}}</p>
              </div>
        </div>

        <div *ngSwitchCase="'video'" class="mt-10">
            <app-youtube-player [youtube-id]="content.video_url" [image]="content.image_url" [id]="i"
            [is-modal]="isModal">
            </app-youtube-player>
            <p class="mt-10 pull-center">{{content?.title}}</p>
        </div>

        <div *ngSwitchCase="'site'" class="mt-10">
        <div id="accordion" class="accordion" (click)="navigate('external',content.image_url)">
            <div class="card mt-10">
                <div class="card-header card-forward collapsed border-bottom-0 ">
                    <a class="card-title title">
                        {{content?.title}}
                    </a>
                </div>
            </div>
        </div>
        </div>

        <div *ngSwitchCase="'document'" class="mt-10">
            <div id="accordion" class="accordion" (click)="navigate(content.display_type,content.document_id)">
                <div class="card mt-10">
                    <div class="card-header card-forward collapsed border-bottom-0 ">
                        <a class="card-title title">
                        {{content?.title}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>