@import '../../../assets/colors/color.scss';

.float{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 1.5em;
    height: 1.5em;
}

.float-one {
    bottom: 7rem;
  }

.float-two {
    bottom: 4rem;
}

.float-three {
   bottom: 1rem;
}

.float-icon {
    // border: 1px solid $c-primary;
    border-radius: 50px;
    text-align: center;
    color: $c-font-primary;
    width: 25px;
    height: 25px;
    background: $c-white;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/* mouse over link */
.float-icon:hover{
    color: $c-font-white;
    background: $c-primary;
}

/* mouse over link */
.float-icon:focus{
    color: $c-font-white;
    background: $c-primary;
}
