$c-primary:#123c69;
$c-secondary:#ac3b61;
$c-tertiary:#edc7b7;
$c-dwhite:#eee2dc;
$c-gray:#bab2b5;
$c-white:white;
$c-black:#495057;
$c-dark-black:#000000;
$c-blue:blue;
$c-yellow:#ff9b00;

$c-font-primary:#123c69;
$c-font-secondary:#ac3b61;
$c-font-tertiary:#edc7b7;
$c-font-white:#eee2dc;
$c-font-gray:#bab2b5;
$c-font-white:white;
$c-font-black:#495057;
$c-font-dark-black:black;
$c-font-blue:blue;
$c-font-yellow:#ff9b00;

// $c-primary:#123c69;
// $c-secondary:#edc7b7;
// $c-tertiary: #ac3b61;
// $c-dwhite:#eee2dc;
// $c-gray:#bab2b5;
// $c-white:white;
// $c-black:#495057;
// $c-dark-black:black;

// $c-font-primary:#123c69;
// $c-font-secondary:#ac3b61;
// $c-font-tertiary:#edc7b7;
// $c-font-white:#eee2dc;
// $c-font-gray:#bab2b5;
// $c-font-white:white;
// $c-font-black:#495057;
// $c-font-dark-black:black;

.c-font-blue{
    color: $c-font-blue;
}

.bg-transparent{
    background-color: transparent;
}
