$c-primary:#123c69;
$c-secondary:#ac3b61;
$c-tertiary:#edc7b7;
$c-white:#eee2dc;
$c-gray:#bab2b5;

$c-font-primary:#123c69;
$c-font-secondary:#ac3b61;
$c-font-tertiary:#edc7b7;
$c-font-white:#eee2dc;
$c-font-gray:#bab2b5;