<div class="custom-navbar">
  <div class="container">
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="javascript:void(0)" routerLink="/home">
        <img width="40" alt="Angular Logo" [src]="logo | safehtml" />
        Agri Arbor</a>

      <div class="" id="navbarSupportedContent">
        <ul class="pull-right" *ngIf="navService?.isName!=''">
          <li class="nav-item active">
            <!-- <a class="nav-link" href="javascript:void(0)">{{navService?.isName}}<span
                class="sr-only">(current)</span></a> -->
            <a class="nav-link" href="javascript:void(0)">{{'welcome' | translate}}<span
                class="sr-only">(current)</span></a>
          </li>
        </ul>

        <form class="my-2 my-lg-0" *ngIf="navService?.isSearch" [formGroup]="searchForm">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{'search-placeholder' | translate}}"
              formControlName="product_name" name="product_name">

            <div class="input-group-append">
              <button id="select_button" class="btn btn-secondary dropdown-toggle text-capitalize" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'filter' | translate}}</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0)"
                  (click)="getDropdown('all')">{{'all' | translate}}</a>
                <a class="dropdown-item" href="javascript:void(0)"
                  (click)="getDropdown('animal')">{{'animal' | translate}}</a>
                <a class="dropdown-item" href="javascript:void(0)"
                  (click)="getDropdown('crop')">{{ 'crop' | translate}}</a>
                <a class="dropdown-item" href="javascript:void(0)"
                  (click)="getDropdown('fertilizer')">{{ 'fertilizer' | translate}}</a>
                <a class="dropdown-item" href="javascript:void(0)"
                  (click)="getDropdown('pesticides')">{{ 'pesticides' | translate}}</a>
              </div>
            </div>
            <div class="input-group-append">
              <button class="btn btn-success" (click)="onSubmit()">{{'search-button' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>