<footer class="footer mt-50">
  <div class="container">
    <div class="content">
      <ul>
        <li><a href="javascript:void(0)" routerLink="/home">{{'home' | translate}}</a></li>
        <li><a href="javascript:void(0)" routerLink="/about">{{'about_us' | translate}}</a></li>
        <li><a href="javascript:void(0)" routerLink="/contant">{{'contact_us' | translate}}</a></li>
      </ul>
      <ul>
        <li><a>
            <img width="40" alt="Angular Logo" [src]="logo | safehtml" />
          </a></li>
        <li>Agri Arbor</li>
      </ul>
    </div>
  </div>
</footer>