@import '../../../assets/colors/color.scss';

.footer{
    padding: 10px 0px;
    background-color: $c-tertiary;
    position: relative;
}

.footer .content {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}