//
$un:px;
//
$n5: 5;
$n10: 10;
$n15: 15;
$n20: 20;
$n30: 30;
$n50: 50;
$n0: 0;

//padding
.p-10{
    padding:$n10+$un;
}
.pt-0 {
    padding-top: $n0+$un;
}

.pt-10 {
    padding-top: $n10+$un;
}

.pt-15 {
    padding-top: $n15+$un !important;
}

//margin
.mt-5{
    margin-top:$n5+$un;
}

.mt-10{
    margin-top:$n10+$un;
}

.mt-15{
    margin-top:$n15+$un;
}

.mt-20{
    margin-top:$n20+$un;
}

.mt-50{
    margin-top:$n50+$un;
}

.mb-10{
    margin-bottom:$n10+$un;
}

.mb-30{
    margin-bottom:$n30+$un;
}

.mr-10{
    margin-right:$n10+$un;
}
.ml-10{
    margin-left:$n10+$un;
}