@font-face {
  font-family: 'agriarbor';
  src:  url('fonts/agriarbor.eot?ujdg42');
  src:  url('fonts/agriarbor.eot?ujdg42#iefix') format('embedded-opentype'),
    url('fonts/agriarbor.ttf?ujdg42') format('truetype'),
    url('fonts/agriarbor.woff?ujdg42') format('woff'),
    url('fonts/agriarbor.svg?ujdg42#agriarbor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ag-"], [class*=" ag-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'agriarbor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ag-times:before {
  content: "\e900";
}
.ag-tick:before {
  content: "\e901";
}
.ag-plus:before {
  content: "\e902";
}
.ag-minus:before {
  content: "\e903";
}
.ag-equals:before {
  content: "\e90b";
}
.ag-divide:before {
  content: "\e90c";
}
.ag-chevron-right:before {
  content: "\e904";
}
.ag-chevron-left:before {
  content: "\e905";
}
.ag-arrow-right-thick:before {
  content: "\e906";
}
.ag-arrow-left-thick:before {
  content: "\e907";
}
.ag-th-small:before {
  content: "\e90d";
}
.ag-th-menu:before {
  content: "\e90e";
}
.ag-th-list:before {
  content: "\e90f";
}
.ag-th-large:before {
  content: "\e910";
}
.ag-home:before {
  content: "\e911";
}
.ag-arrow-forward:before {
  content: "\e912";
}
.ag-arrow-back:before {
  content: "\e913";
}
.ag-rss:before {
  content: "\e914";
}
.ag-location:before {
  content: "\e915";
}
.ag-link:before {
  content: "\e916";
}
.ag-image:before {
  content: "\e917";
}
.ag-arrow-up-thick:before {
  content: "\e918";
}
.ag-arrow-down-thick:before {
  content: "\e919";
}
.ag-starburst:before {
  content: "\e91a";
}
.ag-starburst-outline:before {
  content: "\e91b";
}
.ag-star:before {
  content: "\e91c";
}
.ag-flow-children:before {
  content: "\e91d";
}
.ag-export:before {
  content: "\e91e";
}
.ag-delete:before {
  content: "\e91f";
}
.ag-delete-outline:before {
  content: "\e920";
}
.ag-cloud-storage:before {
  content: "\e921";
}
.ag-wi-fi:before {
  content: "\e922";
}
.ag-heart:before {
  content: "\e923";
}
.ag-flash:before {
  content: "\e924";
}
.ag-cancel:before {
  content: "\e925";
}
.ag-backspace:before {
  content: "\e926";
}
.ag-attachment:before {
  content: "\e927";
}
.ag-arrow-move:before {
  content: "\e928";
}
.ag-warning:before {
  content: "\e929";
}
.ag-user:before {
  content: "\e92a";
}
.ag-radar:before {
  content: "\e92b";
}
.ag-lock-open:before {
  content: "\e92c";
}
.ag-lock-closed:before {
  content: "\e92d";
}
.ag-location-arrow:before {
  content: "\e92e";
}
.ag-info:before {
  content: "\e92f";
}
.ag-user-delete:before {
  content: "\e930";
}
.ag-user-add:before {
  content: "\e931";
}
.ag-media-pause:before {
  content: "\e932";
}
.ag-group:before {
  content: "\e933";
}
.ag-chart-pie:before {
  content: "\e934";
}
.ag-chart-line:before {
  content: "\e935";
}
.ag-chart-bar:before {
  content: "\e936";
}
.ag-chart-area:before {
  content: "\e937";
}
.ag-video:before {
  content: "\e938";
}
.ag-point-of-interest:before {
  content: "\e939";
}
.ag-infinity:before {
  content: "\e93a";
}
.ag-globe:before {
  content: "\e93b";
}
.ag-eye:before {
  content: "\e93c";
}
.ag-cog:before {
  content: "\e93d";
}
.ag-camera:before {
  content: "\e93e";
}
.ag-upload:before {
  content: "\e93f";
}
.ag-scissors:before {
  content: "\e940";
}
.ag-refresh:before {
  content: "\e941";
}
.ag-pin:before {
  content: "\e942";
}
.ag-key:before {
  content: "\e943";
}
.ag-info-large:before {
  content: "\e944";
}
.ag-eject:before {
  content: "\e945";
}
.ag-download:before {
  content: "\e946";
}
.ag-zoom:before {
  content: "\e947";
}
.ag-zoom-out:before {
  content: "\e948";
}
.ag-zoom-in:before {
  content: "\e949";
}
.ag-sort-numerically:before {
  content: "\e94a";
}
.ag-sort-alphabetically:before {
  content: "\e94b";
}
.ag-input-checked:before {
  content: "\e94c";
}
.ag-calender:before {
  content: "\e94d";
}
.ag-world:before {
  content: "\e94e";
}
.ag-notes:before {
  content: "\e94f";
}
.ag-code:before {
  content: "\e950";
}
.ag-arrow-sync:before {
  content: "\e951";
}
.ag-arrow-shuffle:before {
  content: "\e952";
}
.ag-arrow-repeat:before {
  content: "\e953";
}
.ag-arrow-minimise:before {
  content: "\e954";
}
.ag-arrow-maximise:before {
  content: "\e955";
}
.ag-arrow-loop:before {
  content: "\e956";
}
.ag-anchor:before {
  content: "\e957";
}
.ag-spanner:before {
  content: "\e958";
}
.ag-puzzle:before {
  content: "\e959";
}
.ag-power:before {
  content: "\e95a";
}
.ag-plane:before {
  content: "\e95b";
}
.ag-pi:before {
  content: "\e95c";
}
.ag-phone:before {
  content: "\e95d";
}
.ag-microphone:before {
  content: "\e95e";
}
.ag-media-rewind:before {
  content: "\e95f";
}
.ag-flag:before {
  content: "\e960";
}
.ag-adjust-brightness:before {
  content: "\e961";
}
.ag-waves:before {
  content: "\e962";
}
.ag-social-twitter:before {
  content: "\e963";
}
.ag-social-facebook:before {
  content: "\e964";
}
.ag-social-dribbble:before {
  content: "\e965";
}
.ag-media-stop:before {
  content: "\e908";
}
.ag-media-record:before {
  content: "\e909";
}
.ag-media-play:before {
  content: "\e90a";
}
.ag-media-fast-forward:before {
  content: "\e966";
}
.ag-media-eject:before {
  content: "\e967";
}
.ag-social-vimeo:before {
  content: "\e968";
}
.ag-social-tumbler:before {
  content: "\e969";
}
.ag-social-skype:before {
  content: "\e96a";
}
.ag-social-pinterest:before {
  content: "\e96b";
}
.ag-social-linkedin:before {
  content: "\e96c";
}
.ag-social-last-fm:before {
  content: "\e96d";
}
.ag-social-github:before {
  content: "\e96e";
}
.ag-social-flickr:before {
  content: "\e96f";
}
.ag-at:before {
  content: "\e970";
}
.ag-times-outline:before {
  content: "\e971";
}
.ag-plus-outline:before {
  content: "\e972";
}
.ag-minus-outline:before {
  content: "\e973";
}
.ag-tick-outline:before {
  content: "\e974";
}
.ag-th-large-outline:before {
  content: "\e975";
}
.ag-equals-outline:before {
  content: "\e976";
}
.ag-divide-outline:before {
  content: "\e977";
}
.ag-chevron-right-outline:before {
  content: "\e978";
}
.ag-chevron-left-outline:before {
  content: "\e979";
}
.ag-arrow-right-outline:before {
  content: "\e97a";
}
.ag-arrow-left-outline:before {
  content: "\e97b";
}
.ag-th-small-outline:before {
  content: "\e97c";
}
.ag-th-menu-outline:before {
  content: "\e97d";
}
.ag-th-list-outline:before {
  content: "\e97e";
}
.ag-news:before {
  content: "\e97f";
}
.ag-home-outline:before {
  content: "\e980";
}
.ag-arrow-up-outline:before {
  content: "\e981";
}
.ag-arrow-forward-outline:before {
  content: "\e982";
}
.ag-arrow-down-outline:before {
  content: "\e983";
}
.ag-arrow-back-outline:before {
  content: "\e984";
}
.ag-trash:before {
  content: "\e985";
}
.ag-rss-outline:before {
  content: "\e986";
}
.ag-message:before {
  content: "\e987";
}
.ag-location-outline:before {
  content: "\e988";
}
.ag-link-outline:before {
  content: "\e989";
}
.ag-image-outline:before {
  content: "\e98a";
}
.ag-export-outline:before {
  content: "\e98b";
}
.ag-cross:before {
  content: "\e98c";
}
.ag-wi-fi-outline:before {
  content: "\e98d";
}
.ag-star-outline:before {
  content: "\e98e";
}
.ag-media-pause-outline:before {
  content: "\e98f";
}
.ag-mail:before {
  content: "\e990";
}
.ag-heart-outline:before {
  content: "\e991";
}
.ag-flash-outline:before {
  content: "\e992";
}
.ag-cancel-outline:before {
  content: "\e993";
}
.ag-beaker:before {
  content: "\e994";
}
.ag-arrow-move-outline:before {
  content: "\e995";
}
.ag-watch:before {
  content: "\e996";
}
.ag-warning-outline:before {
  content: "\e997";
}
.ag-time:before {
  content: "\e998";
}
.ag-radar-outline:before {
  content: "\e999";
}
.ag-lock-open-outline:before {
  content: "\e99a";
}
.ag-location-arrow-outline:before {
  content: "\e99b";
}
.ag-info-outline:before {
  content: "\e99c";
}
.ag-backspace-outline:before {
  content: "\e99d";
}
.ag-attachment-outline:before {
  content: "\e99e";
}
.ag-user-outline:before {
  content: "\e99f";
}
.ag-user-delete-outline:before {
  content: "\e9a0";
}
.ag-user-add-outline:before {
  content: "\e9a1";
}
.ag-lock-closed-outline:before {
  content: "\e9a2";
}
.ag-group-outline:before {
  content: "\e9a3";
}
.ag-chart-pie-outline:before {
  content: "\e9a4";
}
.ag-chart-line-outline:before {
  content: "\e9a5";
}
.ag-chart-bar-outline:before {
  content: "\e9a6";
}
.ag-chart-area-outline:before {
  content: "\e9a7";
}
.ag-video-outline:before {
  content: "\e9a8";
}
.ag-point-of-interest-outline:before {
  content: "\e9a9";
}
.ag-map:before {
  content: "\e9aa";
}
.ag-key-outline:before {
  content: "\e9ab";
}
.ag-infinity-outline:before {
  content: "\e9ac";
}
.ag-globe-outline:before {
  content: "\e9ad";
}
.ag-eye-outline:before {
  content: "\e9ae";
}
.ag-cog-outline:before {
  content: "\e9af";
}
.ag-camera-outline:before {
  content: "\e9b0";
}
.ag-upload-outline:before {
  content: "\e9b1";
}
.ag-support:before {
  content: "\e9b2";
}
.ag-scissors-outline:before {
  content: "\e9b3";
}
.ag-refresh-outline:before {
  content: "\e9b4";
}
.ag-info-large-outline:before {
  content: "\e9b5";
}
.ag-eject-outline:before {
  content: "\e9b6";
}
.ag-download-outline:before {
  content: "\e9b7";
}
.ag-battery-mid:before {
  content: "\e9b8";
}
.ag-battery-low:before {
  content: "\e9b9";
}
.ag-battery-high:before {
  content: "\e9ba";
}
.ag-zoom-outline:before {
  content: "\e9bb";
}
.ag-zoom-out-outline:before {
  content: "\e9bc";
}
.ag-zoom-in-outline:before {
  content: "\e9bd";
}
.ag-tag:before {
  content: "\e9be";
}
.ag-tabs-outline:before {
  content: "\e9bf";
}
.ag-pin-outline:before {
  content: "\e9c0";
}
.ag-message-typing:before {
  content: "\e9c1";
}
.ag-directions:before {
  content: "\e9c2";
}
.ag-battery-full:before {
  content: "\e9c3";
}
.ag-battery-charge:before {
  content: "\e9c4";
}
.ag-pipette:before {
  content: "\e9c5";
}
.ag-pencil:before {
  content: "\e9c6";
}
.ag-folder:before {
  content: "\e9c7";
}
.ag-folder-delete:before {
  content: "\e9c8";
}
.ag-folder-add:before {
  content: "\e9c9";
}
.ag-edit:before {
  content: "\e9ca";
}
.ag-document:before {
  content: "\e9cb";
}
.ag-document-delete:before {
  content: "\e9cc";
}
.ag-document-add:before {
  content: "\e9cd";
}
.ag-brush:before {
  content: "\e9ce";
}
.ag-thumbs-up:before {
  content: "\e9cf";
}
.ag-thumbs-down:before {
  content: "\e9d0";
}
.ag-pen:before {
  content: "\e9d1";
}
.ag-sort-numerically-outline:before {
  content: "\e9d2";
}
.ag-sort-alphabetically-outline:before {
  content: "\e9d3";
}
.ag-social-last-fm-circular:before {
  content: "\e9d4";
}
.ag-social-github-circular:before {
  content: "\e9d5";
}
.ag-compass:before {
  content: "\e9d6";
}
.ag-bookmark:before {
  content: "\e9d7";
}
.ag-input-checked-outline:before {
  content: "\e9d8";
}
.ag-code-outline:before {
  content: "\e9d9";
}
.ag-calender-outline:before {
  content: "\e9da";
}
.ag-business-card:before {
  content: "\e9db";
}
.ag-arrow-up:before {
  content: "\e9dc";
}
.ag-arrow-sync-outline:before {
  content: "\e9dd";
}
.ag-arrow-right:before {
  content: "\e9de";
}
.ag-arrow-repeat-outline:before {
  content: "\e9df";
}
.ag-arrow-loop-outline:before {
  content: "\e9e0";
}
.ag-arrow-left:before {
  content: "\e9e1";
}
.ag-flow-switch:before {
  content: "\e9e2";
}
.ag-flow-parallel:before {
  content: "\e9e3";
}
.ag-flow-merge:before {
  content: "\e9e4";
}
.ag-document-text:before {
  content: "\e9e5";
}
.ag-clipboard:before {
  content: "\e9e6";
}
.ag-calculator:before {
  content: "\e9e7";
}
.ag-arrow-minimise-outline:before {
  content: "\e9e8";
}
.ag-arrow-maximise-outline:before {
  content: "\e9e9";
}
.ag-arrow-down:before {
  content: "\e9ea";
}
.ag-gift:before {
  content: "\e9eb";
}
.ag-film:before {
  content: "\e9ec";
}
.ag-database:before {
  content: "\e9ed";
}
.ag-bell:before {
  content: "\e9ee";
}
.ag-anchor-outline:before {
  content: "\e9ef";
}
.ag-adjust-contrast:before {
  content: "\e9f0";
}
.ag-world-outline:before {
  content: "\e9f1";
}
.ag-shopping-bag:before {
  content: "\e9f2";
}
.ag-power-outline:before {
  content: "\e9f3";
}
.ag-notes-outline:before {
  content: "\e9f4";
}
.ag-device-tablet:before {
  content: "\e9f5";
}
.ag-device-phone:before {
  content: "\e9f6";
}
.ag-device-laptop:before {
  content: "\e9f7";
}
.ag-device-desktop:before {
  content: "\e9f8";
}
.ag-briefcase:before {
  content: "\e9f9";
}
.ag-stopwatch:before {
  content: "\e9fa";
}
.ag-spanner-outline:before {
  content: "\e9fb";
}
.ag-puzzle-outline:before {
  content: "\e9fc";
}
.ag-printer:before {
  content: "\e9fd";
}
.ag-pi-outline:before {
  content: "\e9fe";
}
.ag-lightbulb:before {
  content: "\e9ff";
}
.ag-flag-outline:before {
  content: "\ea00";
}
.ag-contacts:before {
  content: "\ea01";
}
.ag-archive:before {
  content: "\ea02";
}
.ag-weather-stormy:before {
  content: "\ea03";
}
.ag-weather-shower:before {
  content: "\ea04";
}
.ag-weather-partly-sunny:before {
  content: "\ea05";
}
.ag-weather-downpour:before {
  content: "\ea06";
}
.ag-weather-cloudy:before {
  content: "\ea07";
}
.ag-plane-outline:before {
  content: "\ea08";
}
.ag-phone-outline:before {
  content: "\ea09";
}
.ag-microphone-outline:before {
  content: "\ea0a";
}
.ag-weather-windy:before {
  content: "\ea0b";
}
.ag-weather-windy-cloudy:before {
  content: "\ea0c";
}
.ag-weather-sunny:before {
  content: "\ea0d";
}
.ag-weather-snow:before {
  content: "\ea0e";
}
.ag-weather-night:before {
  content: "\ea0f";
}
.ag-media-stop-outline:before {
  content: "\ea10";
}
.ag-media-rewind-outline:before {
  content: "\ea11";
}
.ag-media-record-outline:before {
  content: "\ea12";
}
.ag-media-play-outline:before {
  content: "\ea13";
}
.ag-media-fast-forward-outline:before {
  content: "\ea14";
}
.ag-media-eject-outline:before {
  content: "\ea15";
}
.ag-wine:before {
  content: "\ea16";
}
.ag-waves-outline:before {
  content: "\ea17";
}
.ag-ticket:before {
  content: "\ea18";
}
.ag-tags:before {
  content: "\ea19";
}
.ag-plug:before {
  content: "\ea1a";
}
.ag-headphones:before {
  content: "\ea1b";
}
.ag-credit-card:before {
  content: "\ea1c";
}
.ag-coffee:before {
  content: "\ea1d";
}
.ag-book:before {
  content: "\ea1e";
}
.ag-beer:before {
  content: "\ea1f";
}
.ag-volume:before {
  content: "\ea20";
}
.ag-volume-up:before {
  content: "\ea21";
}
.ag-volume-mute:before {
  content: "\ea22";
}
.ag-volume-down:before {
  content: "\ea23";
}
.ag-social-vimeo-circular:before {
  content: "\ea24";
}
.ag-social-twitter-circular:before {
  content: "\ea25";
}
.ag-social-pinterest-circular:before {
  content: "\ea26";
}
.ag-social-linkedin-circular:before {
  content: "\ea27";
}
.ag-social-facebook-circular:before {
  content: "\ea28";
}
.ag-social-dribbble-circular:before {
  content: "\ea29";
}
.ag-tree:before {
  content: "\ea2a";
}
.ag-thermometer:before {
  content: "\ea2b";
}
.ag-social-tumbler-circular:before {
  content: "\ea2c";
}
.ag-social-skype-outline:before {
  content: "\ea2d";
}
.ag-social-flickr-circular:before {
  content: "\ea2e";
}
.ag-social-at-circular:before {
  content: "\ea2f";
}
.ag-shopping-cart:before {
  content: "\ea30";
}
.ag-messages:before {
  content: "\ea31";
}
.ag-leaf:before {
  content: "\ea32";
}
.ag-feather:before {
  content: "\ea33";
}
